/* Basic layout, styling, colors */
*{
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;

    background: hsl(222, 26%, 31%);
}

body,
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screen-container,
.buttons-container{

    background: hsl(223, 31%, 20%);
    border-radius: 5px;
}

/* Screen container/content, overflow, scrollbar behaviour */

.calc-display{
    font-size: 2rem;
    padding-right: 0.3rem;
}
.screen-container{
    height: 6rem;
    width: 20rem;
    text-align: end;
    padding-inline: 0.5rem;

    overflow-y: hidden;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    max-height: 10px; 
    background: hsl(223, 44%, 52%);

    border-top: 1.5px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border: 0.1rem solid;
    background-color: hsl(215, 7%, 34%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Basic button layout and styling*/
.buttons-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    height: 20rem;
    width: 20rem;

    margin-top: 0.5rem;
    padding: 0.5rem;
}

.btn {
    width: 100%;
    height: 80%;
    padding: 0; 
    margin: 0; 

    color: hsl(221, 14%, 31%);
    box-shadow: 0px 4px 0px hsl(28, 16%, 55%);
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.calc-display,
.reset-btn,
.equals-btn,
.del-btn{
    color: white;
}

.reset-btn,
.del-btn{
    background: hsl(223, 31%, 52%);
    box-shadow: 0px 4px 0px hsl(224, 28%, 35%);
}

.equals-btn{
    background: hsl(6, 63%, 50%);
    box-shadow: 0px 4px 0px  hsl(6, 70%, 34%);
}

.reset-btn,
.equals-btn{
    grid-column: span 2;
}

/* Switch button */

.switch-btn-container{
    margin-left: auto;
    margin-bottom: 0.5rem;
} 

.switch-btn{
    padding: 0.3rem;
    
    font-size: 1.5rem;
    color: hsl(52, 75%, 55%);
    -webkit-text-stroke: 1px black;
    box-shadow: 0px 3px 0px hsl(52, 65%, 44%);

    background: hsl(281, 89%, 26%); 
    border-radius: 10px;
    border: none;

    cursor: pointer;
}

@media only screen and (max-width: 450px) {

    .buttons-container{
        height: 28rem;
        width: 20rem;
    }
    .screen-container{
        height: 8rem;
        width: 20rem;
    }
  }